<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>{{id }}
            <br>
		{{nombre }}
         <br>
        {{apellido}} <br>
		{{telefono}}	 <br>
        {{email}} <br>
        {{residencia}} <br>
        {{direccion}} <br>
        {{ocupacion}} <br>
        {{edad}} <br>
        {{pregunta1}} <br>
        {{pregunta2}} <br>
        {{pregunta3}} <br>
        {{pregunta4}} <br>
        {{pregunta5}} <br>
        {{pregunta6}} <br>
        {{pregunta7}} <br>

         </p>
    </body>
</html>